<div class="form-wrapper">
  <header class="app-intro">
    <img class="logo" alt="GAME Nation" src="../../../../assets/images/logo_transparent.png"/>
  </header>
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input nbInput fullWidth formControlName="username" [placeholder]="'AUTH.USERNAME' | translate"/>
        <nb-alert status="danger" *ngIf="hasError('username', 'required')">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </nb-alert>
      </div>
      <div class="form-group">
        <input nbInput fullWidth formControlName="password" type="password" [placeholder]="'AUTH.PASSWORD' | translate"/>
        <nb-alert status="danger" *ngIf="hasError('password', 'required')">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </nb-alert>
      </div>
      <button type="submit" [disabled]="!loginForm.valid" nbButton>
        {{ 'AUTH.LOG_IN' | translate }}
      </button>
    </form>
  </div>
</div>
