<div class="admin-panel-outlet">
  <app-admin-top-bar (onToggleDrawer)="drawer.toggle()"></app-admin-top-bar>
  <div class="admin-panel-wrapper">
    <mat-drawer #drawer>
      <mat-nav-list>
        <mat-list-item [routerLink]="['/admin', 'dashboard']">
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine>{{ 'ADMIN.' | translate }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin', 'dashboard']">
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine>{{ 'ADMIN.' | translate }}</h3>
        </mat-list-item>
        <mat-list-item [routerLink]="['/admin', 'dashboard']">
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine>{{ 'ADMIN.' | translate }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin', 'dashboard']">
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine>{{ 'ADMIN.' | translate }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin', 'users']">
          <mat-icon matListIcon>users</mat-icon>
          <h3 matLine>{{ 'ADMIN.USERS' | translate }}</h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </div>
</div>
