<mat-toolbar color="primary">
  <div class="top-bar">
    <div class="logo-container" [routerLink]="['/']"></div>

    <div class="browser-container">
      <form (ngSubmit)="searchResult($event)">
        <input matInput [placeholder]="'INTERFACE.SEARCH' | translate" type="text" class="example-right-align"/>
        <span matPrefix>
        <mat-icon>search</mat-icon>
      </span>
      </form>
    </div>

    <div class="login-action-container" *ngIf="!isAuthorized">
      <button mat-button [routerLink]="['/login']">
        {{ 'AUTH.LOGIN' | translate }}
      </button>
      <button mat-button [routerLink]="['/register']">
        {{ 'AUTH.REGISTER' | translate }}
      </button>
    </div>

    <div class="user-details-container" *ngIf="isAuthorized">
      <img alt="Avatar" class="avatar" src="../../../../../assets/images/avatar.png"/>

      <button mat-button [matMenuTriggerFor]="appMenu">
        {{user.username}}
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/profile']">{{ 'USER.PROFILE' | translate}}</button>
  <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin', 'dashboard']">{{ 'USER.ADMIN_DASHBOARD' | translate }}</button>
  <button mat-menu-item (click)="logout()">{{ 'AUTH.LOG_OUT' | translate }}</button>
</mat-menu>
