<div class="form-wrapper">
  <header class="app-intro">
    <img class="logo" alt="GAME Nation" src="../../../../../assets/images/logo_transparent.png"/>
  </header>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" [appMatchValue]="['password', 'confirmPassword']">
      <mat-form-field>
        <input matInput formControlName="username" [placeholder]="'AUTH.USERNAME' | translate"/>
        <mat-error *ngIf="registerForm.controls.username.errors && registerForm.controls.username.errors.required">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" [placeholder]="'AUTH.EMAIL' | translate"/>
        <mat-error *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.required">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" [placeholder]="'AUTH.PASSWORD' | translate" type="password"/>
        <mat-error *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.required">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="confirmPassword" [placeholder]="'AUTH.PASSWORD_CONFIRM' | translate" type="password"/>
        <mat-error *ngIf="registerForm.controls.confirmPassword.errors && registerForm.controls.confirmPassword.errors.required">
          {{ 'VALIDATOR.IS_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="!registerForm.valid" mat-raised-button>
        {{ 'AUTH.SIGN_IN' | translate }}
      </button>
    </form>
  </div>
</div>
