<nb-card>
  <nb-card-header>
    {{ (game.id ? 'INTERFACE.EDIT' : 'INTERFACE.ADD') | translate }}
  </nb-card-header>
  <nb-card-body>
    <form #form class="d-flex flex-column" [formGroup]="gameForm" (ngSubmit)="onSubmit()">
      <div class="form-group my-1">
        <label for="name">{{ 'COLUMNS.NAME' | translate }}</label>
        <input type="text"
               formControlName="name"
               id="name"
               class="form-control"
               nbInput
               [status]="getStatusFor('name')"
               [placeholder]="'COLUMNS.NAME' | translate">
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-around">
      <button nbButton size="small" outline status="warning" (click)="cancel()">
        {{ 'INTERFACE.CANCEL' | translate }}
      </button>

      <button nbButton size="small" outline status="success" [disabled]="!gameForm.valid" (click)="form.submit()">
        {{ 'INTERFACE.ADD' | translate }}
      </button>
    </div>
  </nb-card-footer>
</nb-card>
