@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .avatar-container {
    max-width: 120px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
