<div class="row">
  <div class="col about-us">
    <h2>{{'FOOTER.ABOUT_US' | translate}}</h2>

  </div>
  <div class="col categories">
    <h2>{{'FOOTER.CATEGORIES' | translate}}</h2>

  </div>
  <div class="col information">
    <h2>{{'FOOTER.INFORMATION' | translate}}</h2>
    <p>
      {{'FOOTER.ABOUT_US_DETAILS' | translate}}
    </p>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p>{{'FOOTER.LOCATION'}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p>{{'FOOTER.NUMBER'}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p>{{'FOOTER.EMAIL'}}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col sponsors">
    <h2>{{'FOOTER.SPONSORS' | translate}}</h2>
  </div>
</div>
