:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;

  ::ng-deep nb-tabset {
    .tabset {
      justify-content: center;
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
    height: 100%;
    width: 100%;

    .form-container {
      width: 500px;
      height: auto;
    }
  }
}
